#cont {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1100px;
    height: 500px;
}

#cont td, #cont th {
    border: 1px solid #ddd;
    padding: 8px;
}

#cont tr:nth-child(even){background-color:cornsilk;}

#cont tr:hover {background-color: #ddd;}

#cont th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}
